body {
    background-color: red;
    display: flex;
    justify-content: center;
    font-size: 35px;
    font-family: fantasy;
}

.on {
    width: 275px;
}

.off {
    width: 200px;
}

img {
    margin: auto;
}